body {
	background-color: #EEEEEE; /* Light gray */
	font-family: Helvitca, Arial, sans-serif;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: blue;
}

h1 {
	margin: 0px;
}

#header_nav {
	background-color: red !important;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: plum;
	color: white;
	width: 280px;
	float: left;
}

#nav {
	width: 500px;
	float: right;
}

#nav .selected {
	color: plum;
	font-weight: both;
}

#nav ul {
	list-style-type: none;
	padding: 0px;
}

#content {	
	clear: both;
	padding: 10px;
}

#footer {
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}


/*
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvitca", "Arial", sans-serif;
  font-weight: normal;
}


ol {
  list-style-type: lower-roman;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}
*/